@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Roboto:wght@300;400;700;900&display=swap');

body{
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;  
}

.wrapper{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative
}

.center{
     text-align: center;

}

.nav{
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;margin-bottom: 0;
}

.nav li{
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}

.nav li:first-child{
    padding-left: 0;
    margin: 0;
}

.nav li::before{
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}

.nav li:first-child:before{
    display: none;
}

.nav a{
    color: #494949;
    text-decoration: none;
    transition: color .2s linear;
}

.nav a:hover{
    color: #ee252d;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
}

.banner{
    background-image: url(../Pizza/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 260px;
    padding-bottom: 285px;
}

.pizza{
    position: absolute;
    right: 0;
    top:-230px;
}

.title{
    font-size: 50px;
    margin-bottom: 23px;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 30px;
    max-width: 571px;
    margin-bottom: 23px;
}

.btn{
    display: block;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 700;
    margin-top: 31px;
    text-decoration: none;
    border: 2px solid #fff;
    max-width: 190px;
    text-align: center;
    transition: color .2s linear;
    transition: background-color .2s linear;
}

.btn:hover{
    background-color: #fff;
    color: #333;
}

.h2{
    font-size: 45px;
    color:#282828;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.h2::before,
 .h2:after{
    content: "";
    position: absolute;
    background-image: url(../Pizza/images/Shape.png);
    display:block;
}

.h2 + p{
    font-size: 20px;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 42px;
}

.menu li{
    
    position: relative;
    padding-left: 20px;
    padding-right: 15px;
}

.menu li a{
    text-decoration: none;
    color: #494848;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 17px;
    transition: color .2s linear;
}

.menu li a:hover{
    color: #ee252d;
}

.menu >li> a.active{
    border-bottom: 4px solid #ee252d;
    position: relative;
}

.menu >li> a.active::before{
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 10px solid #ee252d;       
}

.menu li::before{
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}

.menu li:first-child:before{
    display: none;
}

.box{
    margin-top: 82px;    
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
}

.number{
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    line-height: 0;
    margin-bottom: 50px;
}

.box-item{
    padding: 45px 55px 32px 55px;
    box-sizing: border-box;
}

.box-header{
    display: flex;
    
}

.box-logo{
    display: inline-block;
    margin-top: 88px;
    width: 126px;
    height: 71px;
    margin-left: 21px;
    margin-bottom: 3px;
}

.box-logo-two{
    margin-top: 78px;
    width: 184px;
    height: 81px;
}

.box-logo-three{
    width: 142px;
    height: 68px;
}

.box-title{
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.box-text{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.button{
    background: url(../Pizza/images/Vector\ Smart\ Object.png) center;
    text-align: center;
    width: 470px;
    height: 93px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a{ 
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
}

.button a:hover{
    color: #333;
}

.sub{
    display: flex;
    justify-content: center;
}

.footer{
    background: url(../Pizza/images/footer.jpg) center no-repeat;
    background-size: cover;
    margin-top: 95px;
    display: flex;
    color: #aeaeae;
    align-items: center;
    justify-content: center;
    height: 106px;
    font-size: 20px;
}

.page{
    padding-top: 120px;
}

@media(max-width:1200px){
     .wrapper{
         max-width: 800px;
     }
     .pizza{
         display: none;
     }
     .banner{
         padding-top: 76px;
         padding-bottom: 100px;
     }
     .h2{
         font-size: 35px;
     }
     .h2+p{
         font-size: 18px;
     }
     .page {
        padding-top: 80px;
    }
    .menu li{
        padding-left: 10px;
        padding-right: 10px;
    }
    .box{
        flex-direction: column;
        
    }
    .box-item{
        width: 100%;
    }
    .box-text{
        border-bottom: 1px solid #aeaeae;
        padding-bottom: 30px;
    }
}

@media(max-width:800px){
    .navigation{
        flex-direction: column;
    }
    .nav{
        margin-top: 34px;
    }
    .nav>li:first-child{
        padding-left: 0;
        margin-left: 0;
    }
    .button{
        font-size: 20px;
        background-size: contain;
    }
    .footer{
        padding: 13px 0;
        font-size: 15px;
        margin-top: 78px;
        height: 90;
    }
}